.timeline{
    /* top:0;
margin-top: 10.5%;
margin-left: 15%;
 height: 76%;
 box-shadow: 0 5px 10px rgba(0,0,0,.2);
 width: 54%;
 float: center;
 position: fixed;
 overflow: scroll; */
 top:0;
margin-top: 9.7%;
 margin-left: 14.73%;
 height: 76%;
 /* box-shadow: 0 5px 10px rgba(0,0,0,.2); */
 border-top: none;
 border-left: 2px solid rgba(0,0,0,.1);
 border-right: 2px solid rgba(0,0,0,.1);
 border-bottom: 2px solid rgba(0,0,0,.1);
 width: 53.84%;
 float: center;
 position: fixed;
 text-align: center;
 overflow: scroll;
}

.tweets-timeline{
    text-align: left;
    overflow: scroll;
}
#tweets-timeline-content{
    border-bottom: 2px solid rgba(0,0,0,.1);
    padding-top: 3px;
}
#tweets-timeline-content:hover{
    border-bottom: 2px solid rgba(0,0,0,.1);
    background-color: rgb(241, 251, 255);
}
#tweet-user-name{
    color: rgb(100, 99, 99);
    font-weight: lighter;
    font-size: 15px;
    margin-left: 10px;
}

#tweet-full-name{
    color: black;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 10px;

}

#tweet-content{
    margin-left: 10px;
    font-weight: lighter;
    margin-top: 5px;
}