.other-user-profile{
    
    top:0;
    margin-top: 10.5%;
     margin-left: 15%;
     height: 76%;
     box-shadow: 0 5px 10px rgba(0,0,0,.2);
     width: 54%;
     float: center;
     position: fixed;
     text-align: center;
     overflow: scroll;
    }

    .other-user-profile img{
        margin-top: 10px;
        margin-left: 20px;
        width: 50px;
    }
    
    #userid,#fullname{
        margin-left: 20px;
        color: rgba(35, 154, 233);
    }
    
    #bio{
    
        margin-left: 20px;
        font-style: italic;
        font-weight: bolder;
        
    }

    #exit-btn{
        height: 8%;
    width: 15%;
    border-radius: 50px;
    border:2px solid skyblue;
    background-color: #fff;
    color:  rgb(35, 154, 233);
    font-weight: bolder;
    }

    #exit-btn:hover{

        height: 8%;
        width: 15%;
        border-radius: 50px;
        border:2px solid blue;
        background-color: rgb(35, 154, 233);
        color:  white;
        font-weight: bolder;
    
    }